@model Student

<h2>Öğrenci Ekle</h2>
<hr>
<form asp-controller="Student" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="StudentName" class="form-label">Öğrenci Adı</label>
        <input asp-for="StudentName" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="StudentLastName" class="form-label">Öğrenci Soyad</label>
        <input asp-for="StudentLastName" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Eposta</label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Telephone" class="form-label">Telefon</label>
        <input asp-for="Telephone" class="form-control">
    </div>

    <button type="submit" class="btn btn-secondary">Kaydet</button>

</form>