@model List<Car>

@section Header {
    @await Html.PartialAsync("_Header")
}

<div class="row">
    @foreach (var car in Model)
    {
        @if (car.IsActive && car.IsHome)
        {
            <div class="col-3">
                <div class="card">
                    <img src="~/img/@car.Image" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">@car.Brand @car.Model</h5>
                        <p class="card-text">@car.Description</p>
                        <a class="btn btn-primary" asp-controller="Car" asp-action="Details" asp-route-id="@car.Id">Detay</a>
                    </div>
                </div>
            </div>
        }
    }
</div>