@model Car

<div class="row">
    <div class="col-md-4">
        <img src="~/img/@Model.Image" class="img-fluid rounded" alt="">
    </div>
    <div class="col-md-8">
        <a asp-controller="Car" asp-action="Details" asp-route-id="@Model.Id">
            <h1 class="card-title">@Model.Brand @Model.Model</h1>
        </a>
        <p class="card-text">@Model.Description</p>
    </div>
</div>