@model Course

<h2>Course Ekle</h2>
<hr>
<form asp-controller="Course" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Baslik</label>
        <input asp-for="Title" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="TeacherId" class="form-label">Öğretmen</label>
        <select asp-for="TeacherId" asp-items="ViewBag.Teachers" class="form-select">
            <option value="">Seçiniz</option>
        </select>
    </div>

    <button type="submit" class="btn btn-secondary">Kaydet</button>

</form>