@model CourseRegistration

<h2>Course Kayıt Ekleme</h2>
<hr>
<form asp-controller="CourseRegistration" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="StudentId" class="form-label">Öğrenci</label>
        <select asp-for="StudentId" asp-items="ViewBag.Students" class="form-select">
            <option value="">Seçiniz</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="CourseId" class="form-label">Course</label>
        <select asp-for="CourseId" asp-items="ViewBag.Courses" class="form-select">
            <option value="">Seçiniz</option>
        </select>
    </div>

    <button type="submit" class="btn btn-secondary">Kaydet</button>

</form>